@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Sistema para cadastro de vendas!</p>
    <p>Este sistema visa a apresentação de meus conhecimentos técnicos para que seja possível avaliar para o processo seletivo da empresa Campos Dealer!</p>
    <p>Desde já venho por meio deste agradecer a oportunidade de estar participando do processo. Espero que gostem do resultado e estou a disposição para tirar qualquer dúvida.</p>
</div>
